@charset "UTF-8";

body {
    background-image: linear-gradient( to top, violet, rgb(252, 82, 252));
    background-attachment: fixed;  
}
#topico-principal {
    font-family: serif;
    font-size: 3em;
    color: white
}
.topico{
    text-align: center;
    font-size: 2em;
    color: rgb(17, 255, 17);
    background-color: rgb(70, 12, 123);
}
.topicosub{
    text-align: left;
}