@charset "UTF-8";

main {
    padding: 20px;
    margin: 100px;
    background-color: grey;
    border-radius: 5px;;
    
}
h1::first-letter {
    color:rgb(172, 246, 120);
}
.texto {
    margin-bottom: 80px;
    padding: 20px;
    outline: auto;
}
.texto > p {
    display: none;
}
.texto:hover > p {
    display: block;
    color: red;
    background-color: white;
}
.texto:hover {
    background-color: grey;
    color: white;
}
.secundaria {
    background-color: rgb(172, 246, 120);
    height: 200px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 6px 10px 8px rgba(128, 128, 128, 0.259);
    display: inline-block;
}
.secundaria:hover {
    background-color: rgb(208, 248, 180);
}
.secundaria:active {
    background-color:rgb(144, 205, 100);
}